<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h2>ユーザー情報</h2>
			<%= form_with model:@user, local: true do |f| %>

				<!-- エラーメッセージ表示-->
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
						<ul>
							<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<!-- エラーメッセージ表示-->

				<div class="field">
					<%= f.label :ユーザー名 %>
					<%= f.text_field :name, class: "name" %>
				</div>

				<div class="field">
					<%= f.label :アバター %>
					<%= f.attachment_field :avatar, class: "avatar_id" %>
				</div>


				<div class="field">
					<%= f.label :自己紹介 %>
					<%= f.text_area :introduction, class: "introduction" %>
				</div>

				<div class="actions">
					<%= f.submit "情報を更新する" %>
				</div>

			<% end %>
			</div>
		</div>
	</div>