<div class="container">
<div class="row">
  <h3 class="header-background col-md-3">メーカー編集</h3>
</div>
<div class="col-md-6">
  <div class="field row">
    <%= form_with model: @maker, url: maker_path(@maker), local: true do |f| %>
      <%= f.label :メーカー %>
      <%= f.text_field :name, class: 'maker_name' %>
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, "無効", {value: :false, style: "display: inline-block;"} %>
      <%= f.submit '変更を保存する', class: 'btn btn-primary genre-bt' %>
    <% end %>
  </div>
</div>
</div>