<div class="row">
  <div class="col-md-6">
    <div class="form_group">
      <%= attachment_image_tag product, :image, fallback: "142_refileDownloadImage.png", class: "img_prev", style: "height: 240px; width:240px;" %>
      <%= f.attachment_field :image %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="row form_group">
      <%= f.label :name, "商品名", class: "control-label col-md-2" %>
      <div class="col-md-5">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="row form_group">
      <%= f.label :introduction, "商品説明", class: "control-label col-md-2" %>
      <div class="col-md-5">
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
    </div>

    <div class="row form_group">
      <%= f.label :maker_id, "メーカー", class: "control-label col-md-2" %>
      <div class="col-md-4">
        <%= f.collection_select :maker_id, Maker.all, :id, :name, { prompt: "--選択してください--" }, class: "form-control" %>
      </div>
    </div>

    <div class="control-label">
  	  <%= f.label :release_date, "発売日" %>
      <%#= f.date_select :release_date, {}, class: 'form-control col-md-3' %>
      <%= f.date_select :release_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1992, 1, 21) %>
    </div>

    <div class="field">
      <%= f.label :"製品分類" %>
      <%= f.radio_button :is_lens, :true %>
      <%= f.label :"製品分類", "レンズ", {value: :true, style: "display: inline-block;"} %>
      <%= f.radio_button :is_lens, :false %>
      <%= f.label :is_lens, "ボディ", {value: :false, style: "display: inline-block;"} %>
    </div>

    <div class="row form-group">
        <%= f.label :is_sales, "販売ステータス", class: "control-label col-md-3" %>
        <div class="col-md-4">
        <%= f.select :is_sales, [["販売中", true], ["生産完了", false]], { include_blank: "--選択して下さい--", selected: 0 }, { class: "form-control" } %>
        </div>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-info pull-right btn-lg" %>
    </div>
  </div>
</div>