<div class="row">
  <div class="col-md-6">
    <div class="form_group">
      <%= attachment_image_tag product, :image, fallback: "142_refileDownloadImage.png", class: "img_prev", style: "height: 240px; width:240px;" %>
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row form_group">
      <%= f.label :name, "商品名", class: "control-label col-md-3" %>
      <div class="col-md-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <br>

    <div class="row form_group">
      <%= f.label :introduction, "商品説明", class: "control-label col-md-3" %>
      <div class="col-md-8">
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
    </div>
    <br>

    <div class="row form_group">
      <%= f.label :maker_id, "メーカー", class: "control-label col-md-3" %>
      <div class="col-md-6">
        <%= f.collection_select :maker_id, Maker.all, :id, :name, { prompt: "--選択してください--" }, class: "form-control" %>
      </div>
    </div>
    <br>

    <div class="row form_group">
      <%= f.label :release_date, "発売日", class: "control-label hatsubaibi col-md-4" %>
      <%= f.date_select :release_date, use_month_numbers: true, start_year: 1930, end_year: Time.now.year, default: Date.new(1992, 1, 21), date_separator: '　/　' %>
    </div>
    <br>

    <div class="row form-group">
      <%= f.label :is_lens, "製品分類", class: "control-label col-md-3" %>
      <div class="col-md-5">
      <%= f.select :is_lens, {'レンズ': true, 'ボディ': false}, { include_blank: '--選択して下さい--'}, { class: 'form-control' , required: true } %>
      </div>
    </div>
    <br>

    <div class="row form-group">
      <%= f.label :is_sales, "販売ステータス", class: "control-label col-md-3" %>
      <div class="col-md-5">
      <%= f.select :is_sales, {'発売中': true, '生産完了': false}, { include_blank: '--選択して下さい--'}, { class: 'form-control' , required: true } %>
      </div>
    </div>