<!DOCTYPE html>
<html>
  <head>
    <title>Cameracriticism</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <%= render 'layouts/header' %>

      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="row"></div>
      </div>
    </footer>

  </body>

</html>